<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <h1>Edit Recipe</h1>
    <% const action = `/recipes/${recipe._id}?_method=PUT` %>
    <%- include('partials/recipe_form', {action: action, recipe: recipe, showValue: true}) %>

    </body>
</html>
