<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('partials/head') %>
</head>
  <body>
    <%- include('partials/header') %>
    <div class="screen-wrapper">
      <section>
      <h1>Create A New Recipe</h1>
      </section>
      <%- include('partials/recipe_form', {action: "/recipes", showValue: false}) %>

      <br>
    </div>
    <%- include('partials/footer') %>

  </body>
</html>
