<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
  </head>
  <body>
    <h1>Create A New Recipe!</h1>
  <div class="container-three">
  <form class="" action="/recipes" method="post"> <br>
    <p><input type="text" name="name" placeholder="Name Of Recipe"></p> <br>
    <p><input class="button" type="submit" value="Submit"></p> <br>

  </form>

  </div>

  </body>
</html>
