<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('partials/head') %>
</head>
  <body>
    <%- include('partials/header') %>
    <section>  
    <h1>Create A New Recipe</h1>
    </section>
    <%- include('partials/recipe_form', {action: "/recipes", showValue: false}) %>

    <br>
    <%- include('partials/footer') %>

  </body>
</html>
