body {
  background-color: #f4f5f5;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.index-img {
  max-height: 400px;
  width: auto;
  object-fit: cover;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

section {
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 100%;
  margin: 25px 0px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.show-container {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show-image {
  width: 750px;
  height: auto;
  z-index: 10;
  margin-top: -100px;
  max-height: 700px;
}

.recipe-form {
  padding: 50px;
}

.card-container {
  max-width: 500px;
  margin: 50px;
}
